<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--begin::Head-->

<head>
    <title th:text="#{title.util.custom_command}">Script</title>
    <th:block th:replace="~{shared/head-shared::head}"></th:block>
</head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary"> <!--begin::App Wrapper-->
<div class="app-wrapper">

    <!--begin::Header-->
    <th:block th:insert="~{shared/navbar-shared::navbar}"></th:block>
    <!--end::Header-->

    <!--begin::Sidebar-->
    <th:block th:insert="~{shared/sidebar-shared::sidebar}"></th:block>
    <!--end::Sidebar-->

    <!--begin::App Main-->
    <main class="app-main"> <!--begin::App Content Header-->
        <div class="app-content-header"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0" th:text="#{title.util.custom_command}"> Script </h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item">
                                <a href="dashboard" th:text="#{page.navbar.home}">Home</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active"
                                th:text="#{title.util.custom_command}">
                                Script
                            </li>
                        </ol>
                    </div>
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div>
        <div class="app-content"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->

                <h5 class="mb-2" th:text="#{page.custom_command.input}">Command Line</h5>

                <form th:action="custom-command" name="req" method="post">
                    <div class="input-group mb-1">
                        <div class="form-floating">
                            <input id="command" type="text" name="command" class="form-control" value="return 'NULL'">
                            <label for="command" th:text="#{page.custom_command.input.command}">Command</label>
                        </div>
                        <div class="input-group-text">
                            <span class="bi bi-envelope"></span>
                        </div>
                    </div>
                </form>

                <br/>

                <button class="btn btn-primary" onclick="send()" th:text="#{page.custom_command.execute}">Execute</button>

                <br/>

                <div class="row">
                    <div class="col-12"> <!-- Default box -->
                        <div class="card" id="resultHandler">
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{page.custom_command.result}">Script Execution Result</h3>
                                <div class="card-tools">
                                    <button class="btn btn-tool" data-lte-toggle="card-collapse" title="Collapse"
                                            type="button"><i class="bi bi-plus-lg" data-lte-icon="expand"></i> <i
                                            class="bi bi-dash-lg" data-lte-icon="collapse"></i></button>
                                    <button class="btn btn-tool" data-lte-toggle="card-remove" title="Remove"
                                            type="button"><i class="bi bi-x-lg"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div>
                                    <th:block th:text="${result}">Null</th:block>
                                </div>
                            </div> <!-- /.card-body -->
                            <div class="card-footer" th:text="#{app.name}">OC Helper</div> <!-- /.card-footer-->
                        </div> <!-- /.card -->
                    </div>
                </div> <!--end::Row-->

                <!--start::Toast-->
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div id="toastSuccess" class="toast toast-success" role="alert" aria-live="assertive"
                         aria-atomic="true">
                        <div class="toast-header"><i class="bi bi-circle me-2"></i>
                            <strong class="me-auto" th:text="#{page.custom_command.toast.title}">Script</strong>
                            <small th:text="#{ui.toast.present}">Present</small>
                            <button type="button" class="btn-close" aria-label="Close"
                                    onclick="$('#toastSuccess').hide();"></button>
                        </div>
                        <div class="toast-body" th:text="#{page.custom_command.toast.body}">
                            Command executed!
                        </div>
                    </div>
                </div>
                <!--end::Toast-->

            </div> <!--end::Container-->
        </div> <!--end::App Content-->
    </main> <!--end::App Main-->
    <!--begin::Footer-->
    <th:block th:insert="~{shared/footer-shared::footer}"></th:block>
    <!--end::Footer-->
</div> <!--end::App Wrapper-->
<!--begin::Script-->
<th:block th:insert="~{shared/script-shared::script}"></th:block>
<script th:inline="javascript">
    const opt = [[${opt}]];
    if (opt) {
        $('#resultHandler').show();
        $('#toastSuccess').show();
        setTimeout(function () {
            $('#toastSuccess').hide();
        }, 10000);
    } else {
        $('#resultHandler').hide();
    }

    function send() {
        const command = $('#command').val();
        if (isNull(command)) {
            alert("DON'T INPUT NULL COMMAND!")
            return false;
        } else {
            document.req.submit();
            return true;
        }
    }

    function isNull(str) {
        if (str === "") {
            return true;
        }
        const regX = "^[ ]+$";
        const re = new RegExp(regX);
        return re.test(str);
    }

</script>
<!--end::Script-->
</body><!--end::Body-->

</html>