<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--begin::Head-->

<head>
    <title th:text="#{title.util.script_assemble}">Lua Script Assemble</title>
    <th:block th:replace="~{shared/head-shared::head}"></th:block>
</head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary"> <!--begin::App Wrapper-->
<div class="app-wrapper">

    <!--begin::Header-->
    <th:block th:insert="~{shared/navbar-shared::navbar}"></th:block>
    <!--end::Header-->

    <!--begin::Sidebar-->
    <th:block th:insert="~{shared/sidebar-shared::sidebar}"></th:block>
    <!--end::Sidebar-->

    <!--begin::App Main-->
    <main class="app-main"> <!--begin::App Content Header-->
        <div class="app-content-header"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0" th:text="#{title.util.script_assemble}">Lua Script Assemble</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item">
                                <a href="dashboard" th:text="#{page.navbar.home}">Home</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active" th:text="#{title.util.script_assemble}">
                                Lua Script Assemble
                            </li>
                        </ol>
                    </div>
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div>
        <div class="app-content"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-12"> <!-- Default box -->

                        <button class="btn btn-primary" onclick="doAssemble()"
                                th:text="#{page.script.refresh}">Refresh</button>

                        <hr/>

                        <div class="card" id="resultHandler">
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{page.script.result}">Script Block Result</h3>
                                <div class="card-tools">
                                    <button class="btn btn-tool" data-lte-toggle="card-collapse" title="Collapse"
                                            type="button"><i class="bi bi-plus-lg" data-lte-icon="expand"></i> <i
                                            class="bi bi-dash-lg" data-lte-icon="collapse"></i></button>
                                    <button class="btn btn-tool" data-lte-toggle="card-remove" title="Remove"
                                            type="button"><i class="bi bi-x-lg"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div>
                                    <th:block th:utext="${result}">Null</th:block>
                                </div>
                            </div> <!-- /.card-body -->
                            <div class="card-footer" th:text="#{app.name}">OC Helper</div> <!-- /.card-footer-->
                        </div> <!-- /.card -->

                    </div>
                </div> <!--end::Row-->

                <!--start::Toast-->
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div aria-atomic="true" aria-live="assertive" class="toast toast-success" id="toastSuccess"
                         role="alert">
                        <div class="toast-header"><i class="bi bi-circle me-2"></i>
                            <strong class="me-auto" th:text="#{page.script.toast.title}">Script assemble</strong>
                            <small th:text="#{ui.toast.present}">Present</small>
                            <button aria-label="Close" class="btn-close" onclick="$('#toastSuccess').hide();"
                                    type="button"></button>
                        </div>
                        <div class="toast-body" th:text="#{page.script.toast.body}">
                            Committed script re-assemble!
                        </div>
                    </div>
                </div>
                <!--end::Toast-->

            </div> <!--end::Container-->
        </div> <!--end::App Content-->
    </main> <!--end::App Main-->
    <!--begin::Footer-->
    <th:block th:insert="~{shared/footer-shared::footer}"></th:block>
    <!--end::Footer-->
</div> <!--end::App Wrapper-->
<!--begin::Script-->
<th:block th:insert="~{shared/script-shared::script}"></th:block>
<script th:inline="javascript">
    const opt = [[${opt}]];
    if (opt) {
        $('#toastSuccess').show();
        setTimeout(function () {
            $('#toastSuccess').hide();
        }, 10000);
    } else {
        $('resultHandler').hide();
    }

    function doAssemble() {
        location.href = "lua-script-refresh?opt=true";
    }
</script>
<!--end::Script-->
</body><!--end::Body-->

</html>