<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--begin::Head-->

<head>
    <title>TPS Report</title>
    <th:block th:insert="~{shared/head-shared::head}"></th:block>
</head> <!--begin::Body-->

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary"> <!--begin::App Wrapper-->
<div class="app-wrapper">

    <!--begin::Header-->
    <th:block th:insert="~{shared/navbar-shared::navbar}"></th:block>
    <!--end::Header-->

    <!--begin::Sidebar-->
    <th:block th:insert="~{shared/sidebar-shared::sidebar}"></th:block>
    <!--end::Sidebar-->

    <!--begin::App Main-->
    <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0">TPS Report</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">
                                TPS Report
                            </li>
                        </ol>
                    </div>
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div>
        <!--end::App Content Header-->

        <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">

                <h5 class="mb-2">World MSPT & TPS List</h5>

                <!--begin::Row-->
                <div class="row">
                    <div class="col-12"> <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Dims</h3>
                                <div class="card-tools">
                                    <button class="btn btn-tool" data-lte-toggle="card-collapse" title="Collapse"
                                            type="button"><i class="bi bi-plus-lg" data-lte-icon="expand"></i> <i
                                            class="bi bi-dash-lg" data-lte-icon="collapse"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-striped align-middle">
                                        <thead>
                                        <tr>
                                            <th>Dim</th>
                                            <th>MSPT</th>
                                            <th>TPS</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <th:block th:text="ALL DIM"></th:block>
                                            </td>
                                            <td>
                                                <small class="text-primary me-1">
                                                    <th:block th:text="${sumSet.getMspt()}"></th:block>
                                                </small>
                                            </td>
                                            <td>
                                                <small class="text-success me-1" th:if="${sumSet.isHealthy()}">
                                                    <th:block th:text="${sumSet.getTps()}"></th:block>
                                                </small>
                                                <small class="text-danger me-1" th:if="!${sumSet.isHealthy()}">
                                                    <th:block th:text="${sumSet.getTps()}"></th:block>
                                                    <th:block>😡</th:block>
                                                </small>
                                            </td>
                                            <td>
                                                <a class="text-secondary">
                                                    <i class="bi bi-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr th:each="ms:${m_list}">
                                            <td>
                                                <th:block th:text="${ms.getDim()}"></th:block>
                                            </td>
                                            <td>
                                                <small class="text-primary me-1">
                                                    <th:block th:text="${ms.getMspt()}"></th:block>
                                                </small>
                                            </td>
                                            <td>
                                                <small class="text-success me-1" th:if="${ms.isHealthy()}">
                                                    <th:block th:text="${ms.getTps()}"></th:block>
                                                </small>
                                                <small class="text-danger me-1" th:if="!${ms.isHealthy()}">
                                                    <th:block th:text="${ms.getTps()}"></th:block>
                                                    <th:block>😡</th:block>
                                                </small>
                                            </td>
                                            <td>
                                                <a class="text-secondary">
                                                    <i class="bi bi-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- /.card-body -->
                            <div class="card-footer">Worlds - Condition</div> <!-- /.card-footer-->
                        </div> <!-- /.card -->
                    </div>
                </div> <!--end::Row-->
                <!--end::Row-->

                <br/>

            </div> <!--end::Container-->
        </div> <!--end::App Content-->
    </main> <!--end::App Main-->

    <!--begin::Footer-->
    <th:block th:insert="~{shared/footer-shared::footer}"></th:block>
    <!--end::Footer-->

    <!--end::Footer-->
</div> <!--end::App Wrapper-->
<!--begin::Script-->
<th:block th:insert="~{shared/script-shared::script}"></th:block>
<!--end::Script-->
</body><!--end::Body-->

</html>