<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--begin::Head-->

<head>
    <title th:text="#{title.gt.sensor}">GT Sensor Info</title>
    <th:block th:insert="~{shared/head-shared::head}"></th:block>
</head> <!--begin::Body-->

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary"> <!--begin::App Wrapper-->
<div class="app-wrapper">

    <!--begin::Header-->
    <th:block th:insert="~{shared/navbar-shared::navbar}"></th:block>
    <!--end::Header-->

    <!--begin::Sidebar-->
    <th:block th:insert="~{shared/sidebar-shared::sidebar}"></th:block>
    <!--end::Sidebar-->

    <!--begin::App Main-->
    <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0" th:text="#{title.gt.sensor}">Sensor Information</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item">
                                <a href="dashboard" th:text="#{page.navbar.home}">Home</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active" th:text="#{title.gt.sensor}">
                                GT Sensor Info
                            </li>
                        </ol>
                    </div>
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div>
        <!--end::App Content Header-->

        <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">

                <!--begin::Row-->
                <div class="row">
                    <div class="col-12"> <!-- Default box -->
                        <div class="card" th:each="pair:${list}">
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{page.sensor.sheet.title}">Sensor Data</h3>
                                <div class="card-tools">
                                    <button class="btn btn-tool" data-lte-toggle="card-collapse" title="Collapse"
                                            type="button"><i class="bi bi-plus-lg" data-lte-icon="expand"></i> <i
                                            class="bi bi-dash-lg" data-lte-icon="collapse"></i></button>
                                    <button class="btn btn-tool" data-lte-toggle="card-remove" title="Remove"
                                            type="button"><i class="bi bi-x-lg"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div th:text="${pair.getLeft()} + ' - ' + ${pair.getMiddle()}"></div>
                                <hr/>
                                <div th:utext="${pair.getRight()}"></div>
                            </div> <!-- /.card-body -->
                            <div class="card-footer" th:text="#{page.sensor.sheet.footer}">Info</div> <!-- /.card-footer-->
                        </div> <!-- /.card -->
                    </div>
                </div>
                <!--end::Row-->

            </div> <!--end::Container-->
        </div> <!--end::App Content-->
    </main> <!--end::App Main-->

    <!--begin::Footer-->
    <th:block th:insert="~{shared/footer-shared::footer}"></th:block>
    <!--end::Footer-->

    <!--end::Footer-->
</div> <!--end::App Wrapper-->
<!--begin::Script-->
<th:block th:insert="~{shared/script-shared::script}"></th:block>
<!--end::Script-->
</body><!--end::Body-->

</html>