<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--begin::Head-->

<head>
    <title th:text="#{app.name}">TITLE</title>
    <th:block th:replace="~{shared/head-shared::head}"></th:block>
</head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary"> <!--begin::App Wrapper-->
<div class="app-wrapper">

    <!--begin::Header-->
    <th:block th:insert="~{shared/navbar-shared::navbar}"></th:block>
    <!--end::Header-->

    <!--begin::Sidebar-->
    <th:block th:insert="~{shared/sidebar-shared::sidebar}"></th:block>
    <!--end::Sidebar-->

    <!--begin::App Main-->
    <main class="app-main"> <!--begin::App Content Header-->
        <div class="app-content-header"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0" th:text="#{app.name}">TITLE</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item">
                                <a href="dashboard" th:text="#{page.navbar.home}">Home</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active" th:text="#{app.name}">
                                TITLE
                            </li>
                        </ol>
                    </div>
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div>
        <div class="app-content"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-12"> <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{page.dashboard.card1.title}">Main Page</h3>
                                <div class="card-tools">
                                    <button class="btn btn-tool" data-lte-toggle="card-collapse" title="Collapse"
                                            type="button"><i class="bi bi-plus-lg" data-lte-icon="expand"></i> <i
                                            class="bi bi-dash-lg" data-lte-icon="collapse"></i></button>
                                    <button class="btn btn-tool" data-lte-toggle="card-remove" title="Remove"
                                            type="button"><i class="bi bi-x-lg"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <th:block th:text="#{page.dashboard.card1.content}"></th:block>
                                <hr/>
                                <div>
                                    <img alt="DM" height="300" style="align-content: center" th:src="@{res/dm.jpg}"
                                         width="300">
                                </div>
                            </div> <!-- /.card-body -->
                            <div class="card-footer" th:text="#{app.name}">OC Helper</div> <!-- /.card-footer-->
                        </div> <!-- /.card -->
                    </div>
                </div> <!--end::Row-->
                <!--start::Toast-->
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div aria-atomic="true" aria-live="assertive" class="toast toast-danger" id="toastFailInEnergy"
                         role="alert">
                        <div class="toast-header"><i class="bi bi-circle me-2"></i>
                            <strong class="me-auto" th:text="#{page.dashboard.toast.fail.title}">TITLE</strong>
                            <small th:text="#{ui.toast.present}">Present</small>
                            <button aria-label="Close" class="btn-close" onclick="$('#toastFailInEnergy').hide();"
                                    type="button"></button>
                        </div>
                        <div class="toast-body">
                            <th:block th:text="#{page.gt.es.fail_to_dashboard}"></th:block>
                        </div>
                    </div>
                </div>
                <!--end::Toast-->
            </div> <!--end::Container-->
        </div> <!--end::App Content-->
    </main> <!--end::App Main-->
    <!--begin::Footer-->
    <th:block th:insert="~{shared/footer-shared::footer}"></th:block>
    <!--end::Footer-->
</div> <!--end::App Wrapper-->
<!--begin::Script-->
<th:block th:insert="~{shared/script-shared::script}"></th:block>
<script th:inline="javascript">
    const failInEnergy = [[${failInEnergy}]];
    if (failInEnergy) {
        $('toastFailInEnergy').show();
    } else {
        $('toastFailInEnergy').hide();
    }
</script>
<!--end::Script-->
</body><!--end::Body-->

</html>