<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" th:href="@{dist/css/adminlte.css}">
<script type="text/javascript" th:src="@{dist/js/adminlte.min.js}"></script>
<meta name="title" content="GTNH Center">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
<head>
    <title>GTNH Center</title>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{res/icon.png}" sizes="16x16">
</head>
<body>
<main class="app-main">
    <div class="app-content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">GTNH Center</h3>
                    <img th:src="@{res/icon.png}" height="64" width="64" alt="">
                </div>
            </div>
        </div>
    </div>
    <br/>
    <h4 class="mb-0" style="text-align: center;">AE Center</h4>
    <br/>
    <div style="text-align: center;">
        <a href="ae-storage-center">
            <button class="btn btn-primary">
                AE Storage Report
            </button>
        </a>
    </div>
    <div style="text-align: center;">
        <a href="ae-storage-report-servlet">
            <button class="btn btn-secondary">
                Servlet Version
            </button>
        </a>
    </div>
    <br/>
    <div style="text-align: center;">
        <a href="index">
            <button class="btn btn-primary">
                AE Storage Report
            </button>
        </a>
    </div>
</main>
</body>
</html>