<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="app-footer" th:fragment="footer"> <!--begin::To the end-->
    <div class="float-end d-none d-sm-inline" th:text="#{app.name}">OC Helper</div> <!--end::To the end-->
    <!--begin::Copyright-->
    <strong>
        Copyright 2024
        <a class="text-decoration-none" href="https://github.com/RhyVis/">Rhynia</a>.
    </strong>
    <!--end::Copyright-->
</footer> <!--end::Footer-->
</body>
</html>