<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--begin::Head-->

<head>
    <title th:text="#{title.ae.storage}">TITLE</title>
    <th:block th:insert="~{shared/head-shared::head}"></th:block>
</head> <!--begin::Body-->

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary"> <!--begin::App Wrapper-->
<div class="app-wrapper">

    <!--begin::Header-->
    <th:block th:insert="~{shared/navbar-shared::navbar}"></th:block>
    <!--end::Header-->

    <!--begin::Sidebar-->
    <th:block th:insert="~{shared/sidebar-shared::sidebar}"></th:block>
    <!--end::Sidebar-->

    <!--begin::App Main-->
    <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0" th:text="#{title.ae.storage}">TITLE</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item">
                                <a href="dashboard" th:text="#{page.navbar.home}">Home</a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active" th:text="#{title.ae.storage}">
                                TITLE
                            </li>
                        </ol>
                    </div>
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div>
        <!--end::App Content Header-->

        <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">

                <h5 class="mb-2" th:text="#{page.ae.storage.item.title}">Item</h5>

                <!--begin::Row-->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3" th:each="item:${itemList}">
                        <div class="info-box">
                            <span class="info-box-icon text-bg-primary shadow-sm"
                                  style="min-width: 80px;min-height: 80px;">
                                <a th:href="@{ae-insight-item(un = ${item.getUn()}, latest = ${item.getSizeByte()})}">
                                <img alt="ICON" style="min-width: 60px;min-height: 60px;width: 80px;height: 80px;"
                                     th:src="${item.getImgPath()}">
                                </a>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text" style="font-weight: bold"
                                      th:text="${item.getLocal()}">
                                </span>
                                <span class="info-box-number" style="max-width: fit-content;font-size: smaller;"
                                      th:text="${item.getSizeFormatted()}">
                                </span>
                                <span class="info-box-number" style="max-width: fit-content;font-size: smaller"
                                      th:text="${item.getSizeByte()}">
                                </span>
                            </div> <!-- /.info-box-content -->
                        </div> <!-- /.info-box -->
                    </div> <!-- /.col -->
                </div>
                <!--end::Row-->

                <br/>

                <h5 class="mb-2" th:text="#{page.ae.storage.fluid.title}">Fluid</h5>

                <!--begin::Row-->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3" th:each="fluid:${fluidList}">
                        <div class="info-box">
                            <span class="info-box-icon text-bg-primary shadow-sm"
                                  style="min-width: 80px;min-height: 80px;">
                                <a th:href="@{ae-insight-fluid(un = ${fluid.getUn()}, latest = ${fluid.getSizeByte()})}">
                                <img alt="ICON" style="min-width: 60px;min-height: 60px;width: 80px;height: 80px;"
                                     th:src="${fluid.getImgPath()}">
                                </a>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text" style="font-weight: bold"
                                      th:text="${fluid.getLocal()}">
                                </span>
                                <span class="info-box-number" style="max-width: fit-content;font-size: smaller;"
                                      th:text="${fluid.getSizeFormatted()}">
                                </span>
                                <span class="info-box-number" style="max-width: fit-content;font-size: smaller"
                                      th:text="${fluid.getSizeByte()}">
                                </span>
                            </div> <!-- /.info-box-content -->
                        </div> <!-- /.info-box -->
                    </div> <!-- /.col -->
                </div>
                <!--end::Row-->

            </div> <!--end::Container-->
        </div> <!--end::App Content-->
    </main> <!--end::App Main-->

    <!--begin::Footer-->
    <th:block th:insert="~{shared/footer-shared::footer}"></th:block>
    <!--end::Footer-->

    <!--end::Footer-->
</div> <!--end::App Wrapper-->
<!--begin::Script-->
<th:block th:insert="~{shared/script-shared::script}"></th:block>
<!--end::Script-->
</body><!--end::Body-->

</html>