<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{dist/css/adminlte.min.css}">
<script th:src="@{dist/js/adminlte.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/browser/overlayscrollbars.browser.es6.min.js"
        integrity="sha256-H2VM7BKda+v2Z4+DRy69uknwxjyDRhszjXFhsL4gD3w=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha256-whL0tQWoY1Ku1iskqPFvmZ+CHsvmRWx/PIoEvIeWh4I=" crossorigin="anonymous"></script>
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha256-YMa+wAM6QkVyz999odX7lPRxkoYAan8suedu4k2Zur8=" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>AE Storage Center</title>
    <link rel="icon" th:href="@{res/icon.png}" sizes="16x16">
</head>
<body>
<main class="app-main">
    <br/>
    <h1 style="text-align: center;"><span class="info-box-icon text-bg-secondary shadow-sm"
                                          style="min-width: 1000px;min-height: 500px;"><   物品   ></span></h1>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div th:each="assembleItem:${assembleItems}">
                <div class="col-12 col-sm-6 col-md-3" style="min-width: 100px;">
                    <div class="info-box">
                        <span class="info-box-icon text-bg-light shadow-sm" style="min-width: 80px;min-height: 80px;">
                            <img th:src="${iconPath + assembleItem.getLeft() + '.png'}" alt="res/icon.png">
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text"
                                  th:text="${(assembleItem.getRight().isHasTag()) ? assembleItem.getRight().getLabel() : assembleItem.getLeft()}"></span>
                            <span class="info-box-number" style="min-width: 100px;"
                                  th:text="${assembleItem.getRight().getAeSizeDisplay() + '' + assembleItem.getRight().getAeSizeByteDisplay()}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <h1 style="text-align: center;"><span class="info-box-icon text-bg-secondary shadow-sm"
                                          style="min-width: 1000px;min-height: 500px;"><   流体   ></span></h1>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div th:each="assembleFluid:${assembleFluids}">
                <div class="col-12 col-sm-6 col-md-3" style="min-width: 100px;">
                    <div class="info-box">
                        <span class="info-box-icon text-bg-light shadow-sm" style="min-width: 80px;min-height: 80px;">
                            <img th:src="${iconPath + assembleFluid.getLeft() + '单元.png'}" alt="res/icon.png">
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text" th:text="${assembleFluid.getLeft()}"></span>
                            <span class="info-box-number" style="min-width: 180px;"
                                  th:text="${assembleFluid.getRight().getAeSizeDisplay() + '' + assembleFluid.getRight().getAeSizeByteDisplay()}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>